# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (large files)
data/raw/*.zip

# Kaggle credentials
kaggle.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
